# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/google-services.json
*.keystore
*.jks

# IDE
.idea/
.vscode/
*.iml

# Misc
*.zip
*.tar.xz
*.deb
.DS_Store
